<a asp-action="GoogleLogin" asp-controller="Login" asp-route-provider="Google">Login Google</a><br />
<a asp-action="GoogleLogin" asp-controller="Login" asp-route-provider="Facebook">Login Facebook</a>
<br />