<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\eShopSolution.AdminApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<directoryBrowse enabled="true" />
		<httpErrors errorMode="Detailed" />
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<add provider="ASP" areas="BeginRequest, EndRequest, App_Initialization, App_Domain, Resourcer, Configuration" verbosity="Verbose" />
					</traceAreas>
					<failureDefinitions statusCodes="500-599" />
				</add>
			</traceFailedRequests>
		</tracing>
	</system.webServer>
</configuration>
