<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Add your custom sections here -->
  </configSections>

  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\eShopSolution.AdminApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    <defaultDocument>
      <files>
        <add value="index.html" />
        <add value="default.html" />
        <add value="index.aspx" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
    <httpErrors errorMode="Detailed" />

    <!-- Ensure there are no duplicate entries here -->
    <tracing>
      <traceFailedRequests>
        <!-- Remove any duplicate 'add' entries -->
        <add path="*">
          <traceAreas>
            <add provider="ASP" areas="BeginRequest, EndRequest, App_Initialization, App_Domain, Resourcer, Configuration" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="500-599" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
