@using (Html.BeginForm("Index", "FirebaseTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" accept="image/*" name="file" />
    <button type="submit">Submit</button>
}
<img src="https://firebasestorage.googleapis.com/v0/b/testfirebase-e3ab2.appspot.com/o/images%2FScreenshot%202024-05-11%20132743.png?alt=media&token=10220c03-88f8-4038-b22f-9db05313e24b" />

